@tailwind base;
@tailwind components;
@tailwind utilities;



.progress {
    display: flex;
    margin: 0 auto 10px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 300px;
    max-width: 100%;
}

.progress::before {
    content: "";
    width: 100%;
    background-color: #ccc;
    height: 2px;
    position: absolute;
    z-index: -1;
}

.circle {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3b82f6;
    border: 2px solid #3b82f6;
    color: #fff;
    border-radius: 50%;
}


.active {
    height: 40px;
    width: 40px;
    color: #fff;
    display: flex;
    border: 2px solid #3b82f6;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: -1;
}

.active::before {
    content: "";
    width: 50%;
    background: #3b82f6;
    height: 2px;
    position: absolute;
    z-index: -2;
}